@font-face {
    font-family: 'd-dinregular';
    src: url('d-din-webfont.woff2') format('woff2'),
         url('d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --dark: #2d2d2d;
  --light: #f2f0ec;
  --highlight: mediumseagreen;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #2d2d2d;
    --dark: #f2f0ec;
    --highlight: mediumseagreen;
  }
}

body{
  background-color: var(--light);
  color: var(--dark);
  font-family: 'd-dinregular', monospace;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  overflow-y: scroll;
}

.container {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background: var(--highlight);
  color: var(--light);
}
::-moz-selection {
  background: var(--highlight);
  color: var(--light);
}

a {
  color: var(--dark);
  text-decoration-color: transparent;
  border-bottom: 1px dotted var(--light);
}

.todo {
  border-left: 1px solid var(--dark);
  margin-left: 5px;
  padding-left: 5px;
}
