{{ define "todo" }}
<div>
  {{ .Source }}: <a href="{{ .URL }}">{{ .Name }}</a>
</div>
{{ end }}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
    <title>todos</title>
  </head>


  <body>
    <div class="container">
      <header><h1>todos</h1></header>
    </div>

    <main>
      <details open>
        <summary>doing</summary>
        {{ range $index, $todo := . }}
        {{ if and ($todo.Started) (not $todo.Finished) }}
          {{ template "todo" $todo }}
        {{ end }}
        {{ end }}
      </details>

      <details open>
        <summary>todo</summary>
        {{ range $index, $todo := . }}
        {{ if and (not $todo.Started) (not $todo.Finished) }}
          {{ template "todo" $todo }}
        {{ end }}
        {{ end }}
      </details>

      <details>
        <summary>done</summary>
        {{ range $index, $todo := . }}
        {{ if $todo.Finished }}
          {{ template "todo" $todo }}
        {{ end }}
        {{ end }}
      </details>
    </main>
  </body>
</html>

